.main {
    width: 100vw;
    height: 100vh;
    display: inline-flex;

    .left-main {
        height: 100%;
        width: 70vw;
        background-image: url(../../images/selfie-challah.jpg);

        .filter {
            height: 100%;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.767);
            background-size: cover;
            overflow: hidden;

            .content {
                text-align: left;
                padding-top: 400px;
                margin-left: 135px;
                position: relative;

                button {
                    position: absolute;
                    padding: 10px;
                    font-size: 3em;
                    left: -55px;
                    top: 250px

                }

                h1 {
                    font-size: 9.7em;
                    margin: 0;
                    line-height: 1em
                }

                h2 {
                    font-size: 1.5em;
                    margin: 0;
                    margin-left: 5px;
                }
            }
        }
    }

    .right {
        width: 30vw;
        height: 100vh;
        background-color: yellow;
    }

    .right-main {
        height: 100%;
        width: 30vw;
        background-color: rgb(147, 147, 218);
        position: fixed;
        top: 0; 
        right: 0;
        z-index: 1;

        .main-logo {
            height: 350px;
            width: 350px;
            margin: auto;
            margin-top: 130px;
            background-color: white;
            border-radius: 50%;
            color: rgb(147, 147, 218);
            justify-content: center;
            position: relative;

            h1 {
                position: absolute;
                top: 90px;
                font-size: 3.4em;
                left: 38px
            }
        }
    }

    @media only screen and (min-width: 1600px) {
        .left-main {

            .filter {
               .content {
                padding-top: 650px;

                button {
                    top: 550px;
                    left: 5px; 
                }

                h1 {
                    font-size: 12em;
                }

                h2 {
                    font-size: 2em;
                }
            } 
            }
            
        }

        .right-main {
            .main-logo {
                margin-top: 250px;
                height: 450px;
                width: 450px;

                h1 {
                    top: 115px;
                    left: 45px;
                    font-size: 4.3em;
                }
            }
        }
    }
}