.main {
    width: 100vw;
    height: 100vh;
    display: inline-flex;

    .left-main {
        height: 100%;
        width: 70vw;
        background-image: url(../../images/selfie-challah.jpg);

        .filter {
            height: 100%;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.767);
            background-size: cover;
            overflow: hidden;

            .content {
                text-align: left;
                padding-top: 400px;
                margin-left: 135px;
                position: relative;

                button {
                    -webkit-transform: rotate(90deg);
                    color: white;
                    background-color: rgb(204, 221, 247);
                    border: 1px solid rgb(5, 68, 161);
                    position: absolute;
                    padding: 10px;
                    font-size: 3em;
                    left: -55px;
                    top: 250px

                }

                h1 {
                    font-size: 9.7em;
                    margin: 0;
                    line-height: 1em
                }

                h2 {
                    font-size: 1.5em;
                    margin: 0;
                    margin-left: 5px;
                }
            }
        }
    }

    .right {
        width: 30vw;
        height: 100vh;
        background-color: yellow;
    }

    .right-main {
        height: 100%;
        width: 30vw;
        background-color: rgb(147, 147, 218);
        position: fixed;
        top: 0; 
        right: 0;
        z-index: 1;

        .main-logo {
            height: 350px;
            width: 350px;
            margin: auto;
            margin-top: 130px;
            background-color: white;
            border-radius: 50%;
            color: rgb(147, 147, 218);
            justify-content: center;
            position: relative;

            h1 {
                position: absolute;
                top: 90px;
                font-size: 3.4em;
                left: 38px
            }
        }
    }
}