.about {
    height: 98vh;
    width: 70vw;
    margin-top: -20px;
    background-color: rgb(147, 147, 218);
    border-radius: 20px 0 0 0;
    padding-top: 12px;
    padding-bottom: 0;

    .tile-container {
        width: 75%;
        padding-left: 135px;
        height: 80%;
        margin-top: 60px;

        .tiles {
            width: 100%;
            margin: auto;
            margin-bottom: 10px;
            height: 100%;
            display: grid;
            grid-template-columns: auto auto auto;

            .tile {
                background-color: purple;
                border: solid 1px black;
            }
        }
    }

}